 <style>
   .widget-pricefilter-actions .widget-pricefilter-price,
   .widget-pricefilter-actions .text{
     width: 55%;
   }
   .widget-pricefilter-actions .field{
     display: flex;
     width: 50%;
     align-items: center;
   }
   .widget-pricefilter-actions .field input{
     height: 45px;
     width: 50%;
     border: none;
     padding: 0px 8px;
     -moz-appearance: textfield;
   }
   .widget-pricefilter-actions{
     width: 100%;
     display: flex;
     align-items: center;
   }
   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button{
     -webkit-appearance: none;
   }
 </style>     
        <main class="main-content">

            <!-- Products Page Content -->
            <div class="tm-section products-page-content tm-padding-section bg-white">
                <div class="container">
                    <div class="row">           
                        <div class="col-lg-9 col-12">
                            
                            <div class="sticky-sidebar">
                                <form class="tm-shop-header filter-form">
                                    <p class="tm-shop-countview">Showing {{ collection.all_products_count }} Products </p>
                                         <select id="sort-by">
                                              {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                                            
                                              {% for option in collection.sort_options %}
                                                <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                                                  {{ option.name }}
                                                </option>
                                              {% endfor %}
                                            </select>                                                         
                                     </form>
                                                    
<script>
  document.getElementById('sort-by').onchange = ()=> {
    var select = document.getElementById('sort-by');
    var sortOption = select.options[select.selectedIndex].value;
    var url = window.location.href;
    var baseUrl = url.split('?')[0];
    var query = url.split('?')[1];
    var params = new URLSearchParams(query);
    params.set('sort_by', sortOption);
    window.location.href = baseUrl + '?' + params.toString();
  };
</script>


                              {% paginate collection.products by section.settings.products_per_page %}
                                <div class="tm-shop-products">
                                    <div class="row mt-30-reverse">

                                   {% for product in collection.products %}
                                        <!-- Single Product -->
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-30">
                                            <div class="tm-product">
                                                <div class="tm-product-image">
                                                    <a class="tm-product-imagelink" href="{{ product.url }}">
                                                        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}">
                                                    </a>
                                                    <ul class="tm-product-actions">
                                                        <li><button type="button" data-fancybox data-src="#tm-product-quickview"> <i class="fa-sharp fa-regular fa-eye"></i></button></li>
                                                        <li><a href="{{ routes.cart_url }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                                                        <li><a href="{{ routes.cart_url }}"><i class="fa-sharp fa-solid fa-heart"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="tm-product-content">
                                                    <h5 class="tm-product-title"><a href="{{ product.url }}">{{ product.title }}</a></h5>
                                                    <div class="tm-product-rating">
                                                        <span class="active"><i class="fa-sharp fa-solid fa-star" style="color: #ffc800;"></i></span>
                                                        <span class="active"><i class="fa-sharp fa-solid fa-star" style="color: #ffc800;"></i></span>
                                                        <span class="active"><i class="fa-sharp fa-solid fa-star" style="color: #ffc800;"></i></span>
                                                        <span class="active"><i class="fa-sharp fa-solid fa-star" style="color: #ffc800;"></i></span>
                                                        <span class="active"><i class="fa-sharp fa-solid fa-star" style="color: #ffc800;"></i></span>
                                                    </div>
                                                    <h6 class="tm-product-price">{{ product.price | money }} <del> {{ product.compare_at_price | money }}</del></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <!--// Single Product -->
                                     {% endfor %}
                                    </div>
                                </div>
                        {% render 'pagination', pagination: paginate %}
                      {% endpaginate %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="sticky-sidebar">
                                <div class="widgets">

                                    <!-- Single Widget -->
                                    <div class="single-widget widget-search">
                                        <h5 class="widget-title">Search</h5>
                                        <form action="{{ routes.search_url }}" method="get" class="widget-search-form">
                                            <input type="search" name="q" placeholder="Search...">
                                            <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                        </form>
                                    </div>
                                    <!--// Single Widget -->

                                    <!-- Single Widget -->
                                                                      
                                    <div class="single-widget widget-pricefilter">
                                        <h5 class="widget-title">Filter by Price</h5>
                                        <div class="widget-pricefilter-inner">
                                            <div class="tm-rangeslider" data-range_min="0" data-range_max="800"
                                                data-cur_min="200" data-cur_max="550">
                                                <div class="tm-rangeslider-bar nst-animating"></div>
                                                <span class="tm-rangeslider-leftgrip nst-animating" tabindex="0"></span>
                                                <span class="tm-rangeslider-rightgrip nst-animating" tabindex="0"></span>
                                            </div>
                                            <div class="widget-pricefilter-actions">
                                              
                                              <div class="field">
                                                       <span class="widget-pricefilter-price">Price: $</span>
                                                       <input class="tm-rangeslider-leftlabel" type="number"/>
                                              </div>
                                               <div class="field">
                                                   <span class="text"> - $</span>
                                                    <input class="tm-rangeslider-rightlabel" type="number" />    
                                               </div>
                                               
                                            </div>
                                           <button class="widget-pricefilter-button">Filter</button>
                                        </div>
                                    </div>
                                    <!--// Single Widget -->

<form class="filter-form">
  {%- for filter in collection.filters -%}
    <details class="filter-group">
      

      <div class="filter-group-display">
        <div class="filter-group-display__header">
          <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

          {%- if filter.active_values.size > 0 -%}
            <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
          {%- endif -%}
        </div>

        {%- case filter.type -%}
          {%- when 'boolean' or 'list' -%}
            <ul class="filter-group-display__list">
              {%- for filter_value in filter.values -%}
                <li class="filter-group-display__list-item">
                  <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                  <input type="checkbox"
                    name="{{ filter_value.param_name }}"
                    value="{{ filter_value.value }}"
                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                    {% if filter_value.active -%}checked{%- endif %}
                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                  >{{ filter_value.label }}</label>
                </li>
              {%- endfor -%}
            </ul>

            <div class="filter-group-display__submit">
              <input type="submit" value="Apply">
            </div>
          {%- when 'price_range' -%}
            <div class="single-widget widget-pricefilter">
              <div class="filter-group-display__price-range-from">
               <h5 class="widget-title">Filter by Price</h5>

                <input name="{{ filter.min_value.param_name }}"
                  id="Filter-{{ filter.min_value.param_name }}"
                  {% if filter.min_value.value -%}
                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="0"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
              </div>
              <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.max_value.param_name }}"
                  id="Filter-{{ filter.max_value.param_name }}"
                  {% if filter.max_value.value -%}
                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
              </div>
            </div>

            <div class="filter-group-display__submit">
              <input type="submit" value="Apply">
            </div>
        {%- endcase -%}
      </div>
    </details>
  {%- endfor -%}

  <div class="active-filters">
    <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>

    {%- for filter in collection.filters -%}
      {%- if filter.type == "price_range" -%}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
          <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
            {%- assign min_value = filter.min_value.value | default: 0 -%}
            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
            {{ min_value | money }} - {{ max_value | money }} X
          </a>
        {%- endif -%}
      {%- else -%}
        {%- for filter_value in filter.active_values -%}
          <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
            {{ filter.label }}: {{ filter_value.label }} X
          </a>
        {%- endfor -%}
      {%- endif- %}
    {%- endfor -%}
  </div>
</form>
                                  

                                    <!-- Single Widget -->
                                    <div class="single-widget widget-categories">
                                      <h5 class="widget-title">Categories</h5>
                                       
                                          <ul>
                                             {% for collection in collections limit:10 %}
                                              <li><a href="{{ collection.url }}">{{ collection.title}} <span>{{ collection.all_products_count }}</span></a></li>
                                            {% endfor %}
                                          </ul>
                                    </div>
                                    <!--// Single Widget -->

                                    <!-- Single Widget -->
                                    {% assign products = collections[section.settings.collection].products | sort: 'best-sellers' %}
                                <div class="single-widget widget-popularproduct">
                                    <h5 class="widget-title">Popular Product</h5>
                                    <ul>
                                      {% for product in products %}
                                        <li>
                                            <a href="product-details.html" class="widget-popularproduct-image">
                                                <img src="{{ product.featured_image | img_url: 'master'}}" alt="{{ product.featured_image.alt }}">
                                            </a>
                                            <div class="widget-popularproduct-content">
                                                <h6><a href="{{ product.url }}">{{ product.title }}</a></h6> 
                                                <span>{{ product.price | money}}</span>
                                            </div>
                                        </li>
                                     {% endfor %}
                                    </ul>                                
                                </div>
                                    <!--// Single Widget -->

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--// Products Page Content -->

        </main>

{% schema %}
  {
    "name": "all-products",
    "settings": [
       {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 1,
      "default": 9,
      "label": "Products Per Page"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection list for best selling"
    }
    ],
    "presets": [
    {
        "category": "content",
        "name":"all-products"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}