<style>
  .customer-order-section .customer-order-list a.back-btn {
    font-size: 20px;
    color: blue;
    border: 1px solid;
    margin-bottom: 30px;
  }
  
</style>


<div class="customer-order-section">
  <div class="customer-order-list">
    <div class="order-details">
      <h1 class="order-name">Order {{ order.name }}</h1>
      <p class="order-date">Placed on {{ order.created_at | date: format: 'date' }}</p>
      <span class="financial-status">{{ order.financial_status_label }}</span>
    </div>

    <a class="back-btn" href="{{ routes.account_url }}">Back to Account</a>

  </div>

  {% for line_item in order.line_items %}
    <div class="line-item-list">
      <div class="line-items">
        {% if line_item.image %}
        <div class="image">
             <a href="{{ line_item.product.url }}"><img src="{{ line_item.image | img_url: 'medium' }}" alt="{{ line_item.image.alt }}"></a>
        </div>
        {% else %}
        <div class="image">
          {{ 'product-1' | placeholder_svg_tag: 'full-width' }}
        </div>
         {% endif %}
        <p class="product-name">{{ line_item.title | link_to: line_item.product.url }}</p>
 
      </div>
    </div>
  {% endfor %}

</div>



{% schema %}
  {
    "name": "customer-order",
    "settings": [
      
    ],
        "presets": [
      {
          "category": "content",
          "name":"customer-order"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}