        <main class="main-content">
       {% paginate blog.articles by section.settings.number_of_blog_posts %}
            <!-- Blog Area -->
            <div class="tm-section blogs-area bg-whtie tm-padding-section">
                <div class="container">
                    <div class="row tm-blog-list blog-masonry-active mt-50-reverse">

                      {% for article in blog.articles %}
                        <!-- Single Blog -->
                        <div class="col-lg-6 blog-masonry-item">
                            <div class="tm-blog mt-50">
                                <div class="tm-blog-top">
                                    <a href="{{ article.url }}">
                                        <img src="{{ article.image }}" alt="{{ article.image.alt }}">
                                    </a>
                                    <span class="tm-blog-date">{{ article.created_at }}</span>
                                </div>
                                <div class="tm-blog-bottom">
                                    <div class="tm-blog-meta">
                                        <span><a href="blog.html"><i class="zmdi zmdi-account"></i> Admin</a></span>
                                        <span><a href="#"><i class="zmdi zmdi-comments"></i> Comments (0)</a></span>
                                        <span><a href="blog.html"><i class="zmdi zmdi-folder"></i> Services</a></span>
                                    </div>
                                    <h5 class="tm-blog-title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                                    <p>{{ article.content }}</p>
                                    <a href="{{ article.url }}" class="tm-button tm-button-dark">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!--// Single Blog -->
                        {% endfor %}
                    </div>

                    <div class="tm-pagination mt-50">
                        {% render 'pagination', pagination: paginate %}
                    </div>
                </div>
            </div>
            <!-- Blog Area -->
  {% endpaginate %}
        </main>



{% schema %}
  {
    "name": "main-blog",
    "settings": [
      {
            "type": "range",
            "id": "number_of_blog_posts",
            "step": 1,
            "min": 1,
            "max": 6,
            "label": "Blog posts per page",
            "default": 3
        }
    ],
    "presets": [
    {
        "category": "content",
        "name":"main-blog"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}